@model List<Channel>
@{
    ViewBag.Title = "Askıya Alınan Kanalları Göster";
}

<section class="content-header">
    <span class="h3">@Html.ActionLink("Kanallarım", "ViewChannels", "Channel")</span>
    <span class="h3">|</span>
    <span class="h3">@Html.ActionLink("Askıya Alınanlar", "ViewFrozenChannels", "Channel")</span>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            @if (ViewBag.Sonuc != null)
            {
                <div class="row alert alert-danger">
                    @ViewBag.Sonuc
                </div>
            }
        </div>
    </div>
    <div class="row">
        @Html.Partial("_ChannelsPartial", Model)
    </div>
</section>

