
@{
    ViewBag.Title = "Sayfa Bulunamadı";
}


<section class="content-header">
    <h1>
        404 Sayfa Bulunamadı
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>
        <div class="error-content">
            <h3><i class="fa fa-exclamation-circle text-yellow"></i> Hay aksi! Sayfa bulunamadı.</h3>
            <p>
                Maalesef aradığın sayfayı bulamadık. Böyle bir sayfa yok. Belki de var ama sadece girmeni istemiyorum.
                Belki de bir sorun vardır, düzeltmemizi bekleyebilirsin.
                Bu sırada bu linkten @Html.ActionLink("anasayfa", "Index", "Home")'ya dönebilir veya aşağıdaki formdan yeniden arama yapabilirsin.

            </p>
            <form class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Arama yapmak için yazmaya başlayın...">
                    <div class="input-group-btn">
                        <button type="submit" name="submit" class="btn btn-warning btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /.input-group -->
            </form>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>

